@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: BarlowRegular;
      src:  (/fonts/Barlow/Barlow-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: BarlowBold;
        src: url(/fonts/Barlow/Barlow-Bold.ttf) format('truetype');
    }
    @font-face {
        font-family: BarlowMedium;
        src: url(/fonts/Barlow/Barlow-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: BarlowCondensedRegular;
        src: url(/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf) format('truetype');
    }
  }

.primary-color{
    color: #4C651A;
}
.logo-text-color{
    color: #514520;
}
.nav-text-color{
    color: #518095;
}
.primary-back{
    background-color: #4C651A;
}
.pro-color{
    color: #c7411b;
}
.date-color{
    color: #2f697f;
}
.input-back{
    background-color: #5b722d;
}
.primary-color{
    color: #4b6519;
}
.second-color{
    color:#2f697f;
}
.third-color{
    background-color: #d3da3d;
}
.top-btn{
    background-color: #c8411b;
}
.font-BarlowRegular{
    font-family: BarlowRegular;
}
.font-BarlowBold{
    font-family: BarlowBold;
}
.font-BarlowCondensedRegular{
    font-family: BarlowCondensedRegular;
}
.h-910{
    height: 910px;
}
.leading-0{
    line-height: 0;
}